@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Dosis:400,700);
button,
input[type="submit"] {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #477dca), color-stop(100%, #2760b2));
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em; }
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #628cc8;
    cursor: pointer;
    background-color: #3c71bb;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c71bb), color-stop(100%, #255aa5));
    background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
    background-image: linear-gradient(#3c71bb, #255aa5); }
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled) {
    border: 1px solid #2459a6;
    box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397, 0 1px 1px 0 #eeeeee; }
  button:disabled,
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

header.navigation {
  *zoom: 1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 50px;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #e1e3ea; }
  header.navigation:before, header.navigation:after {
    content: " ";
    display: table; }
  header.navigation:after {
    clear: both; }
  header.navigation .menu-wrapper {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    header.navigation .menu-wrapper:before, header.navigation .menu-wrapper:after {
      content: " ";
      display: table; }
    header.navigation .menu-wrapper:after {
      clear: both; }
  header.navigation .logo {
    font-size: 2.5em;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    text-shadow: .5px .5px 0 black;
    text-transform: uppercase;
    float: left;
    color: #4fc1e9;
    max-height: 50px;
    padding-top: .4em;
    padding-right: 2em;
    position: relative;
    bottom: 81px; }
    header.navigation .logo img {
      max-height: 105px;
      position: relative;
      bottom: -35px;
      right: -5px;
      padding: .8em 0;
      margin: auto; }
  header.navigation .nav {
    float: right; }
  header.navigation span#navigation-menu {
    clear: both;
    -webkit-transform-style: preserve-3d;
    overflow: hidden;
    width: 100%;
    display: inline; }
  header.navigation span {
    line-height: 50px;
    overflow: hidden;
    text-align: center;
    z-index: 9999;
    display: inline;
    text-decoration: none; }
    header.navigation span a {
      font-weight: 400;
      color: rgba(79, 193, 233, 0.7);
      font-size: 14px;
      border-left: 1px solid #e1e3ea;
      display: block;
      float: left;
      padding: 10px 15px;
      line-height: 32px;
      height: 50px; }
      header.navigation span a:last-child {
        border-right: 1px solid #e1e3ea; }
      header.navigation span a:hover {
        color: white;
        background-color: #4fc1e9; }

.search-bar {
  position: relative;
  display: inline-block; }
  .search-bar input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block; }
  .search-bar div.search-and-submit {
    position: relative;
    top: 10px;
    left: -70px; }
    .search-bar div.search-and-submit input[type=search] {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      width: 100%;
      padding: .4em .8em;
      margin: 0; }
    .search-bar div.search-and-submit button[type=submit] {
      border: 1px solid lightgray;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      background-color: #f7f7f7;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #dadada));
      background-image: -webkit-linear-gradient(#f7f7f7, #dadada);
      background-image: linear-gradient(#f7f7f7, #dadada);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      position: absolute;
      top: 0.3em;
      right: 0.3em;
      bottom: 0.3em;
      outline: none;
      padding: 5px 10px; }
      .search-bar div.search-and-submit button[type=submit]:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #eaeaea;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, lightgray));
        background-image: -webkit-linear-gradient(#eaeaea, lightgray);
        background-image: linear-gradient(#eaeaea, lightgray); }
      .search-bar div.search-and-submit button[type=submit]:active:not(:disabled) {
        border: 1px solid lightgray;
        box-shadow: inset 0 0 8px 4px #cbcbcb, inset 0 0 8px 4px #cbcbcb, 0 1px 1px 0 #eeeeee; }
      .search-bar div.search-and-submit button[type=submit]:disabled {
        opacity: 0.5;
        cursor: not-allowed; }
      .search-bar div.search-and-submit button[type=submit] img {
        height: 15px;
        opacity: .7; }

.categories-bar {
  *zoom: 1;
  *zoom: 1;
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 8px;
  color: #4fc1e9;
  font-weight: 100;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 -1px 0 white, inset 0 -5px 14px rgba(229, 229, 229, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #d7dae0; }
  .categories-bar:before, .categories-bar:after {
    content: " ";
    display: table; }
  .categories-bar:after {
    clear: both; }
  .categories-bar:before, .categories-bar:after {
    content: " ";
    display: table; }
  .categories-bar:after {
    clear: both; }
  .categories-bar .button-group {
    width: 1064px;
    z-index: 9999;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: 15px;
    margin: 0 auto;
    font-family: 'Dosis', sans-serif; }
    .categories-bar .button-group ul {
      padding: 0;
      margin: 0;
      height: 15px;
      line-height: 15px;
      float: left; }
      .categories-bar .button-group ul li {
        display: inline;
        margin-right: 12px; }
        .categories-bar .button-group ul li a {
          font-size: 18px;
          color: #596377;
          text-shadow: 1px 1px 0 white;
          font-weight: 300;
          line-height: 15px;
          padding: 10px 2px;
          -webkit-transition: color 120ms;
          -moz-transition: color 120ms;
          -o-transition: color 120ms;
          transition: color 120ms; }
          .categories-bar .button-group ul li a:hover {
            color: #4fc1e9; }

.main-section {
  padding-top: 40px;
  *zoom: 1;
  *zoom: 1;
  display: table;
  width: 100%;
  table-layout: fixed; }
  .main-section:before, .main-section:after {
    content: " ";
    display: table; }
  .main-section:after {
    clear: both; }
  .main-section:before, .main-section:after {
    content: " ";
    display: table; }
  .main-section:after {
    clear: both; }
  .main-section .video {
    display: table-cell;
    width: 66.66667%;
    position: relative;
    width: 560px; }
    .main-section .video:nth-child(2n) {
      margin-right: 0; }
    .main-section .video:nth-child(2n+1) {
      clear: left; }
    .main-section .video iframe {
      border: 8px solid #4fc1e9;
      border-radius: 8px !important; }
    .main-section .video .title-stats {
      padding: 2px;
      margin-bottom: 2px;
      font-size: 1.5em;
      font-family: 'Dosis', sans-serif;
      line-height: 100%; }
      .main-section .video .title-stats .video-title {
        font-size: 1.2em;
        font-weight: 100; }
      .main-section .video .title-stats .video-upvotes {
        font-size: .8em;
        color: orange;
        font-weight: 800; }
      .main-section .video .title-stats .video-downvotes {
        font-size: .8em;
        color: lightblue;
        font-weight: 800; }
      .main-section .video .title-stats .video-score {
        font-size: .8em;
        color: red;
        font-weight: 900; }
      .main-section .video .title-stats .video-tag {
        color: black; }
      .main-section .video .title-stats .video-tags {
        font-size: .8em;
        color: #d7dbc0; }
  .main-section .voting {
    display: table-cell;
    width: 33.33333%;
    position: relative;
    top: 85px; }
    .main-section .voting:nth-child(2n) {
      margin-right: 0; }
    .main-section .voting:nth-child(2n+1) {
      clear: left; }
    .main-section .voting .voting-button {
      padding-right: 45px;
      margin-left: 45px; }
      .main-section .voting .voting-button:hover {
        opacity: 0.8; }
    .main-section .voting .description {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      margin-left: 10px;
      background-color: rgba(0, 0, 0, 0.05);
      padding: 5px;
      top-padding: 10px;
      font-size: 1.5em;
      font-family: 'Roboto', sans-serif;
      line-height: 110%; }

#comments {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 50px; }
  #comments:before, #comments:after {
    content: " ";
    display: table; }
  #comments:after {
    clear: both; }
  #comments .comment {
    display: table;
    width: 100%;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1); }
    #comments .comment .comment-image,
    #comments .comment .comment-content {
      display: table-cell;
      vertical-align: top; }
    #comments .comment .comment-image {
      padding-right: 1.4em; }
      #comments .comment .comment-image > img {
        width: 4em;
        height: auto;
        border-radius: 0.1875em;
        padding: 0.7em;
        background: #93d9f2;
        display: block;
        max-width: none; }
      .comment-reverse-order #comments .comment .comment-image {
        padding-right: 0;
        padding-left: 10px; }
    #comments .comment .comment-content {
      width: 100%; }
      #comments .comment .comment-content h1 {
        font-size: 1em;
        margin-bottom: .5em; }
      #comments .comment .comment-content p {
        margin-bottom: .5em; }
      #comments .comment .comment-content p.comment-detail {
        font-style: italic;
        font-size: .9em;
        color: rgba(51, 51, 51, 0.5); }

#footer {
  *zoom: 1;
  display: table;
  width: 100%;
  table-layout: fixed;
  display: table-cell;
  width: 100%;
  background-color: white;
  padding: 8px;
  color: #4fc1e9;
  font-weight: 100;
  font-size: 2em;
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: none; }
  #footer:before, #footer:after {
    content: " ";
    display: table; }
  #footer:after {
    clear: both; }

* {
  margin: 0;
  padding: 0; }

html, body {
  *zoom: 1;
  font-family: 'Roboto', sans-serif; }
  html:before, html:after, body:before, body:after {
    content: " ";
    display: table; }
  html:after, body:after {
    clear: both; }
