$base-accent-color: #4FC1E9;

header.navigation {
  @include clearfix;
  $navigation-background: white;
  $navigation-color: transparentize($base-accent-color, 0.3);
  $navigation-color-hover: #9b9b9b;
  $navigation-height: 50px;
  $navigation-nav-button-background: $base-accent-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20);
  $navigation-search-background: lighten(black, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);

  font-family: $sans-serif;
  height: $navigation-height;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #e1e3ea;

  .menu-wrapper {
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    font-size: 2.5em;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    text-shadow: .5px .5px 0 black;
    text-transform: uppercase;
    float: left;
    color: $base-accent-color;
    max-height: $navigation-height;
    padding-top: .4em;
    padding-right: 2em;
    position: relative;
    bottom: 81px;

    img {
      max-height: 105px;
      position: relative;
      bottom: -35px;
      right: -5px;
      padding: .8em 0;
      margin: auto;
    }
  }

  .nav {
    // position: relative;
    float: right;
  }

  span#navigation-menu {
    clear: both;
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    overflow: hidden;
    width: 100%;
    // z-index: 9999;
    display: inline;
    // margin: 0;
    // padding: 0;
  }

  span {
    // background: $navigation-background;
    line-height: $navigation-height;
    overflow: hidden;
    text-align: center;
    z-index: 9999;
    // background: transparent;
    display: inline;
    // padding-right: 2em;
    text-decoration: none;
    // width: auto;

    a {
      font-weight: 400;
      color: $navigation-color;
      font-size: 14px;
      border-left: 1px solid #e1e3ea;
      display: block;
      float: left;
      padding: 10px 15px;
      line-height: 32px;
      height: 50px;

      &:last-child {
        border-right: 1px solid #e1e3ea;
      }

      &:hover {
        color: white;
        background-color: $base-accent-color;
      }
    }
  }
}

.search-bar {
  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10);

  position: relative;
  display: inline-block;

  input {
    @include box-sizing(border-box);
    display: block;
  }

  div.search-and-submit {
    position: relative;
    top: 10px;
    left: -70px;

    input[type=search] {
      @include appearance(none);
      width: 100%;
      padding: .4em .8em;
      // font-size: .9em;
      // font-style: italic;
      // border-radius: $base-border-radius * 2;
      margin: 0;
    }

    button[type=submit] {
      @include button(simple, lighten($base-border-color, 10));
      @include position(absolute, 0.3em 0.3em 0.3em 0);
      outline: none;
      padding: 5px 10px;

      img {
        height: 15px;
        opacity: .7;
      }
    }
  }
}
